h1 {
  color: red;
  text-align: center;
  font-style: oblique;
  font-weight: bold;
  font-size: 60px;
}
h2,h3 {
font-style: itallic;
text-align: center;
color: red;
font-size: 40px;
}
li {
  font-weight: bold;
  font-size: 20px;
  text-align: justify;
  color: white;
}
.name{
  font-size: 30px;
  background-color:white;
  color:Darkcyan
}
img {
  height: 300px;
  width: 500px
  float:left;
}
p {
  font-style:normal;
  font-size: 20px;
  font-family: fantasy;
  color:black;
}
body {
  background-color: skyblue;
  border: 5px solid red;
  margin: 20px;
  padding: 30px
}
  color: red;
  text-align: center;
  font-weight: bold;
}
ul , ol{
  line-height: 60px;
  color: white;
}
.side-bar {
  width:800px;
  background-color:lightskyblue;
  color: gray;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  background-color:yellow;
  color: black
}
